<div class="scrollable">
    <h2>{{name}}</h2>
    <div [innerHTML]="description"></div>
    <form class="col-md-10 col-md-offset-1">
        <!-- Sections wrapper -->
        <div *ngIf="hasSections()">
            <div *ngFor="let sec of sectionKeys()" class="section_title" [ngClass]="{visible:isVisible(sec), hidden:!isVisible(sec)}"><h2>{{sections[sec].name}}</h2><p>{{sections[sec].description}}</p></div>
        </div>
        <!-- Sections wrapper -->
        
        <div class="form-group" [ngClass]="{visible:isVisible(item.section), hidden:!isVisible(item.section)}" *ngFor="let item of fields">
            <input type="hidden" *ngIf="item.value != null" name="{{item.name}}" value="{{item.value}}">
            
            <div class="row" *ngIf="item.value == null">
                <label class="form-label col-md-2">{{item.label}}<span *ngIf="item.required">*</span> </label>

                <div class="col-md-6">
                    <input *ngIf="item.type == 'string' && item.long_text == false"  class="form-control" type="text" (change)="watchDependents(item.name)" name="{{item.name}}">
                    <textarea *ngIf="item.type == 'string' && item.long_text == true"  class="form-control" type="text" (change)="watchDependents(item.name)" name="{{item.name}}"></textarea>
                    <input *ngIf="item.type == 'integer'"  class="form-control" type="text" name="{{item.name}}" (change)="watchDependents(item.name)">
                    <input *ngIf="item.type == 'file upload'"  class="form-control" type="file" name="{{item.name}}" (change)="loadFile($event, item.name)">
                    <label *ngIf="item.type == 'boolean'">
                        <p class="col-md-11 help-block" [innerHtml]="item.help_text"></p>
                        <input class="col-md-1" type="checkbox" data-toggle="toggle" (change)="watchDependents(item.name)" type="checkbox" name="{{item.name}}">
                    </label>

                    <select *ngIf="item.type == 'choice'"  class="form-control" (change)="watchDependents(item.name)" name="{{item.name}}">
                        <option value="">--- Seleziona una delle opzioni ---</option>
                        <option *ngFor="let c of item.choices" value="{{c.value}}">{{c.display_name}}</option> 
                    </select>
                    <div *ngIf="item.type == 'multiple choice'" >
                        <div *ngFor="let c of item.choices"> <input type="checkbox" (change)="watchDependents(item.name)" name="{{item.name}}" value="{{c.value}}"> <span [innerHtml]="c.display_name"> </span></div> 
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="item.type != 'boolean'">
                <div class="col-md-6 col-md-offset-2 help-block" [innerHtml]="item.help_text"></div>
            </div>
            <div class="row"><hr class="col-md-8"></div>
        </div>
        <!-- Sections wrapper -->
        <div *ngIf="hasSections()">
            <div [ngClass]="{visible:isVisible(sec), hidden:!isVisible(sec)}" *ngFor="let sec of sectionKeys()">
                <button (click)="setActive(prevSection(sec))" *ngIf="sectionIndex(sec)>0" class="btn btn-info"><i class="fa fa-fw fa-chevron-left"></i> Indietro</button>   
                <button (click)="setActive(nextSection(sec))" *ngIf="!sectionLast(sec)" class="btn btn-info">Avanti <i class="fa fa-fw fa-chevron-right"></i></button>   
                <button *ngIf="sectionLast(sec)" type="submit" (click)="submit($event)" class="btn btn-success"><i class="fa fa-fw fa-save"></i> Salva e invia</button>    
            </div>
        </div>
        <!-- Sections wrapper -->
        <div *ngIf="!hasSections()">
                <button  type="submit" (click)="submit($event)" class="btn btn-success"><i class="fa fa-fw fa-save"></i> Salva e invia</button>    
        </div>
        <script>
            
        </script>
        
    </form>
</div>