<div class="row"> 
    <div class="col-lg-12">
        <h1><i class="fa fa-fw fa-check-square-o"></i> Candidatura scuola</h1>        
        <p>Clicca su questo pulsante per avviare la procedura di candidatura della tua scuola all'edizione 2016/2017 del progetto A Scuola di OpenCoesione.</p> 
        <a class="btn btn-large btn-success col-md-6 col-md-offset-3" href="#/apply" style="background-color:#ec6858;border-color:#ec6858;font-size:large; margin-bottom:20px;">Candida la tua scuola!</a>
        <div class="row" style="display:block; margin-top:25px; padding-top:25px; padding-bottom:15px">
            <a class="btn btn-large btn-danger col-md-6" target="_blank" href="https://github.com/AScuolaDiOpencoesione/ASOCFront/files/461313/ALLEGATO_B_ASOC1617_Facsimile_formselezione_scuole_8settembre.docx.docx" style="background-color:#8bc2c7;border-color:#8bc2c7;">Fac simile del formulario</a>
            <a class="btn btn-large btn-info col-md-6" target="_blank" href="https://github.com/AScuolaDiOpencoesione/ASOCFront/files/461314/ALLEGATO_A__ASOC1617_Vademecum_circolare_8settembre.pdf" style="background-color:#419da4;border-color:#419da4;">Vademecum delle attività del progetto</a>
        </div>
    </div>
    <div class="col-lg-12">
        <h1><i class="fa fa-fw fa-calendar"></i> I prossimi appuntamenti ASOC</h1>
        <calendar></calendar>
    </div>
</div>